kbd {
    color: #444 !important;
    padding: 3px 5px !important;
    border-radius: 0.25em !important;
    box-shadow: inset 0 -2px 0 #d3d3d4, 0 1px 1px #000 !important;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
    border-radius: 4px !important;
    border: 1px solid #d2d2d2 !important;
    border-bottom-width: 2px !important;
    background: #fafafa !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}